body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    background: #9D8D8F;
    text-align: center;
    padding: 15px;
    margin: 30px 8px 30px 8px;
    border-radius: 15px;
}

#title{
    color: #FAED26;
}

p {
    font-weight: bold;
    max-width: 550px;
    margin: 0px auto 20px auto;

}

#img-div{  
    border-radius: 15px;
    position: relative;
    padding: 50px 0px 50px 0px;
    margin: 0px auto;
    background: #222629;
}

#image{
    display: block;
    max-width: 90%;
    width: 100%;
    height: auto;
    margin: 0px auto;

}

#img-caption{    
    margin-top: 20px;
    font-weight: bold;
    color: #FAED26;

}

section{
    display: block;
}

#headline{
    padding: 20px;
    text-align: center;

}

h2 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul{
    max-width: 700px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

#tribute-link:link{
    color: #46344E;
}

#tribute-link:visited{
    color: #46344E;
}

#tribute-link:hover {
    color: #FAED26;
}

